* {
    box-sizing: border-box;
}

body, html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

img {
    width: 400px;
}

.type-hold {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 1000px;
}

.type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 35px;
}

.dropdown {
    margin: 15px 0;
}

.power-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    font-size: 20px;
}

.power-info p {
    margin: 0;
}

.uses {
    width: 50%;
}